src/pages/teachers/sheluhin/index.pug
doctype html
html(lang="ru")
	include ../../../templates/head.pug
	include ../../../templates/header.pug
	include ../../../templates/footer.pug
	include ../../../templates/main__banner.pug

	head
		-var pageName = "Шелухин Олег Иванович"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-5
					h1.mb-3 Шелухин Олег Иванович
					img.teacher__photo.mr-4.mb-1(src="/ii/img/teachers/sheluhin.jpg")
					p.mb-1
						span.font-weight-bold Окончил с отличием МИИТ (МГУПС) в 1973 году 
						|по специальности «Автоматика, телемеханика, связь» получив диплом радиоинженера. 
					p.mb-1
						span.font-weight-bold Окончил МГУ имени М. В. Ломоносова в 1981 году, 
						|факультет «Вычислительная математика и кибернетика», получив диплом по специальности «математик».
					p.mb-1
						span.font-weight-bold Кандидат технических наук - 1978 г.
					p.mb-1
						span.font-weight-bold Доктор технических наук 
						|по специальности «Радиотехнические системы специального назначения» - 
						span.font-weight-bold 1990 г.
					p.mb-1
						span.font-weight-bold Ученое звание «Профессор» - 1991 год.
					p.mb-1
						span.font-weight-bold С 1991 года заведующий кафедрой «Радиотехника и телекоммуникации» 
						|в РГУТиС (Российский государственный университет туризма и сервиса).
					p.mb-1
						span.font-weight-bold С 2003 года 
						|работает в МТУСИ на кафедре «Защита информации и техника почтовой связи» ЗИТПС в должности профессора, а с 
						span.font-weight-bold 2009 года 
						|в должности заведующего этой кафедрой.	
					p.mb-1
						span.font-weight-bold С 2012 года – 
						|заведующий кафедрой 
						span.font-weight-bold «Информационная безопасность и автоматизация» 
						|МТУСИ, а 
						span.font-weight-bold с 2016 года – 
						|заведующий кафедрой 
						span.font-weight-bold «Информационная безопасность» 
						|МТУСИ.
					p.mb-1
						span.font-weight-bold В 2004 году 
						|указом президента присвоено звание 
						span.font-weight-bold «Заслуженный деятель науки РФ».
					p.mb-1
						span.font-weight-bold Почетный работник высшей школы – 2007 г.
					p.mb-1
						span.font-weight-bold В 2016 году 
						|награждён дипломом лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинации "Преподаватель года".
					p.mb-1
						span.font-weight-bold В 2008-2010 годы – председатель диссертационного совета 
						|по защите докторских диссертаций № Д 212.150.02 при ФГОУВПО «РГУТиС», по специальностям 05.12.13 «Системы, сети и устройства телекоммуникаций» и «05.09.03 «Электротехнические комплексы и системы» при РГУТИС.
					p.mb-1
						span.font-weight-bold С 2004 по 2010 – главный редактор научно-технического журнала 
						|«Электротехнические и информационные комплексы и системы» .
					p.mb-1 Член редколлегий 3-х центральных научно-технических журналов.
					p.mb-1
						span.font-weight-bold В 2003-2009 годы 
						|председатель комиссии учебно-методического объединения (УМО) по образованию в области радиотехники, электроники, биомедицинской техники и автоматизации.
					p.mb-1 Автор более 250 научных работ, в том числе 13 патентов и авторских свидетельств.
					p.mb-1 Под научным руководством Шелухина О.И. подготовлены 
						span.font-weight-bold 3 доктора и 24 кандидата 
						|технических наук.
					p.mb-1
						span.font-weight-bold Область научных интересов: 
						|имитационное моделирование, сжатие, обработка и передача аудио и видео информации, защита информации.


		+footer()

dist/teachers/sheluhin/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Шелухин Олег Иванович</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-5 pr-5">
          <h1 class="mb-3">Шелухин Олег Иванович</h1><img class="teacher__photo mr-4 mb-1" src="/ii/img/teachers/sheluhin.jpg">
          <p class="mb-1"><span class="font-weight-bold">Окончил с отличием МИИТ (МГУПС) в 1973 году </span>по специальности «Автоматика, телемеханика, связь» получив диплом радиоинженера. </p>
          <p class="mb-1"><span class="font-weight-bold">Окончил МГУ имени М. В. Ломоносова в 1981 году, </span>факультет «Вычислительная математика и кибернетика», получив диплом по специальности «математик».</p>
          <p class="mb-1"><span class="font-weight-bold">Кандидат технических наук - 1978 г.</span></p>
          <p class="mb-1"><span class="font-weight-bold">Доктор технических наук </span>по специальности «Радиотехнические системы специального назначения» - <span class="font-weight-bold">1990 г.</span></p>
          <p class="mb-1"><span class="font-weight-bold">Ученое звание «Профессор» - 1991 год.</span></p>
          <p class="mb-1"><span class="font-weight-bold">С 1991 года заведующий кафедрой «Радиотехника и телекоммуникации» </span>в РГУТиС (Российский государственный университет туризма и сервиса).</p>
          <p class="mb-1"><span class="font-weight-bold">С 2003 года </span>работает в МТУСИ на кафедре «Защита информации и техника почтовой связи» ЗИТПС в должности профессора, а с <span class="font-weight-bold">2009 года </span>в должности заведующего этой кафедрой.	</p>
          <p class="mb-1"><span class="font-weight-bold">С 2012 года – </span>заведующий кафедрой <span class="font-weight-bold">«Информационная безопасность и автоматизация» </span>МТУСИ, а <span class="font-weight-bold">с 2016 года – </span>заведующий кафедрой <span class="font-weight-bold">«Информационная безопасность» </span>МТУСИ.</p>
          <p class="mb-1"><span class="font-weight-bold">В 2004 году </span>указом президента присвоено звание <span class="font-weight-bold">«Заслуженный деятель науки РФ».</span></p>
          <p class="mb-1"><span class="font-weight-bold">Почетный работник высшей школы – 2007 г.</span></p>
          <p class="mb-1"><span class="font-weight-bold">В 2016 году </span>награждён дипломом лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинации "Преподаватель года".</p>
          <p class="mb-1"><span class="font-weight-bold">В 2008-2010 годы – председатель диссертационного совета </span>по защите докторских диссертаций № Д 212.150.02 при ФГОУВПО «РГУТиС», по специальностям 05.12.13 «Системы, сети и устройства телекоммуникаций» и «05.09.03 «Электротехнические комплексы и системы» при РГУТИС.</p>
          <p class="mb-1"><span class="font-weight-bold">С 2004 по 2010 – главный редактор научно-технического журнала </span>«Электротехнические и информационные комплексы и системы» .</p>
          <p class="mb-1">Член редколлегий 3-х центральных научно-технических журналов.</p>
          <p class="mb-1"><span class="font-weight-bold">В 2003-2009 годы </span>председатель комиссии учебно-методического объединения (УМО) по образованию в области радиотехники, электроники, биомедицинской техники и автоматизации.</p>
          <p class="mb-1">Автор более 250 научных работ, в том числе 13 патентов и авторских свидетельств.</p>
          <p class="mb-1">Под научным руководством Шелухина О.И. подготовлены <span class="font-weight-bold">3 доктора и 24 кандидата </span>технических наук.</p>
          <p class="mb-1"><span class="font-weight-bold">Область научных интересов: </span>имитационное моделирование, сжатие, обработка и передача аудио и видео информации, защита информации.</p>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>
