src/pages/news/26122013/index.pug
doctype html
html(lang="ru")
	include ../../../templates/head.pug
	include ../../../templates/header.pug
	include ../../../templates/footer.pug
	include ../../../templates/main__banner.pug

	head
		-var pageName = "Вторая молодежная кафедральная конференция 'Информационная безопасность, автоматизация и программирование'"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-5
					h1 Вторая молодежная кафедральная конференция "Информационная безопасность, автоматизация и программирование"
					#carousel-example-generic.carousel.slide(data-ride="carousel")
						ol.carousel-indicators
							li.active(data-target="#carousel-example-generic" data-slide-to="0")
							li(data-target="#carousel-example-generic" data-slide-to="1")
							li(data-target="#carousel-example-generic" data-slide-to="2")
							li(data-target="#carousel-example-generic" data-slide-to="3")
							li(data-target="#carousel-example-generic" data-slide-to="4")
							li(data-target="#carousel-example-generic" data-slide-to="5")
							li(data-target="#carousel-example-generic" data-slide-to="6")
							li(data-target="#carousel-example-generic" data-slide-to="7")
							li(data-target="#carousel-example-generic" data-slide-to="8")
							li(data-target="#carousel-example-generic" data-slide-to="9")
							li(data-target="#carousel-example-generic" data-slide-to="10")
						.carousel-inner(role="listbox")
							.carousel-item.active
								img(src="/ii/img/news/11.jpg")
							.carousel-item
								img(src="/ii/img/news/1.jpg")
							.carousel-item
								img(src="/ii/img/news/2.jpg")
							.carousel-item
								img(src="/ii/img/news/3.jpg")
							.carousel-item
								img(src="/ii/img/news/4.jpg")
							.carousel-item
								img(src="/ii/img/news/5.jpg")
							.carousel-item
								img(src="/ii/img/news/6.jpg")
							.carousel-item
								img(src="/ii/img/news/7.jpg")
							.carousel-item
								img(src="/ii/img/news/9.jpg")
							.carousel-item
								img(src="/ii/img/news/10.jpg")
						a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
							i.material-icons keyboard_arrow_left
						a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
							i.material-icons keyboard_arrow_right
					p.mb-1.mt-2.text-justify 26 декабря 2013 г. в аудитории А-256 состоялась вторая молодежная кафедральная конференция "Информационная безопасность, автоматизация и программирование".
					p.mb-1.font-weight-bold Организационный комитет конференции.
					ul.mb-1.ml-4
						li д.т.н., проф. зав. кафедрой ИБиА Шелухин О.И.
						li к.т.н., секретарь кафедры ИБиА Мочалов В.А.
					p.mb-1 На конференции были заслушаны 14 докладов студентов, бакалавров и аспирантов кафедры ИБиА.
					p.mb-1 Организационный комитет отметил следующие доклады:
					ul.ml-4
						li Программная реализация СОВ для обнаружения и защиты от ARP-spoofing атаки. Студентка группы КЗ1001 Довлетназарова О.Т.
						li Обнаружение и защита от ICMP-flood атаки. Студент группы КЗ1001 Гуль А.П.
						li Программная реализация СОВ для обнаружения Land атаки. Студент группы КЗ1001 Пичкуров П.А.
						li Программное сигнатурное обнаружение и блокирование сетевых пакетов. Бакалавр группы БИБ1101 Денисов А.И.
						li Программная реализация СОВ для обнаружения и защиты от атаки “Тунелирование”. Бакалавр группы БИБ1101 Пономарева Ю.А.

		+footer()

dist/news/26122013/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Вторая молодежная кафедральная конференция 'Информационная безопасность, автоматизация и программирование'</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-5 pr-5">
          <h1>Вторая молодежная кафедральная конференция "Информационная безопасность, автоматизация и программирование"</h1>
          <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
            <ol class="carousel-indicators">
              <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>
              <li data-target="#carousel-example-generic" data-slide-to="6"></li>
              <li data-target="#carousel-example-generic" data-slide-to="7"></li>
              <li data-target="#carousel-example-generic" data-slide-to="8"></li>
              <li data-target="#carousel-example-generic" data-slide-to="9"></li>
              <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active"><img src="/ii/img/news/11.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/1.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/2.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/3.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/4.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/5.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/6.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/7.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/9.jpg"></div>
              <div class="carousel-item"><img src="/ii/img/news/10.jpg"></div>
            </div><a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><i class="material-icons">keyboard_arrow_left</i></a><a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><i class="material-icons">keyboard_arrow_right</i></a>
          </div>
          <p class="mb-1 mt-2 text-justify">26 декабря 2013 г. в аудитории А-256 состоялась вторая молодежная кафедральная конференция "Информационная безопасность, автоматизация и программирование".</p>
          <p class="mb-1 font-weight-bold">Организационный комитет конференции.</p>
          <ul class="mb-1 ml-4">
            <li>д.т.н., проф. зав. кафедрой ИБиА Шелухин О.И.</li>
            <li>к.т.н., секретарь кафедры ИБиА Мочалов В.А.</li>
          </ul>
          <p class="mb-1">На конференции были заслушаны 14 докладов студентов, бакалавров и аспирантов кафедры ИБиА.</p>
          <p class="mb-1">Организационный комитет отметил следующие доклады:</p>
          <ul class="ml-4">
            <li>Программная реализация СОВ для обнаружения и защиты от ARP-spoofing атаки. Студентка группы КЗ1001 Довлетназарова О.Т.</li>
            <li>Обнаружение и защита от ICMP-flood атаки. Студент группы КЗ1001 Гуль А.П.</li>
            <li>Программная реализация СОВ для обнаружения Land атаки. Студент группы КЗ1001 Пичкуров П.А.</li>
            <li>Программное сигнатурное обнаружение и блокирование сетевых пакетов. Бакалавр группы БИБ1101 Денисов А.И.</li>
            <li>Программная реализация СОВ для обнаружения и защиты от атаки “Тунелирование”. Бакалавр группы БИБ1101 Пономарева Ю.А.</li>
          </ul>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>
