src/pages/vkr/index.pug
doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Изучаемые дисциплины"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-4.pr-5
					h1 ТЕМЫ   ВКР   кафедры ИБ (2017/2018 учебный год)
					ol.numeric-list.pl-2
						li Исследование алгоритмов кластеризации трафика мобильных устройств по типам приложений методами машинного обучения
						li Исследование алгоритмов классификации трафика мобильных устройств по типам приложений методами машинного обучения при наличии фонового трафика
						li Исследование алгоритмов сжатия служебной информации канала обратной связи в системах MIMO с адаптивной обработкой сигналов
						li Исследование влияния алгоритма выбора признаков на качество классификации трафика мобильных устройств
						li Исследование алгоритмов шифрования данных в сетях мобильной связи стандарта LTE
						li Исследование алгоритмов классификации зашифрованного трафика мобильных устройств по типам приложений методами машинного обучения
						li Исследование алгоритмов онлайн классификации трафика мобильных устройств по типам приложений методами машинного обучения
						li Исследование алгоритмов криптографической защиты информации в системах радиодоступа стандарта 802.11 ad
						li Генерирование специальных ключей для защиты информации
						li Разработка системы обеспечения безопасности информационных транзакций в сфере дополнительного образования в общеобразовательном учреждении
						li Исследование алгоритмов классификации трафика мобильных устройств по типам приложений методами машинного обучения
						li Организация защиты информации при использовании технологии виртуализации  баз данных
						li Исследование стационарного программно-аппаратного комплекса обнаружения радиоизделий на базе отечественного нелинейного радиолокатора “NR-2000”
						li Разработка пользовательского интерфейса на программно-аппаратном досмотровом комплексе на основе нелинейного локатора
						li Исследование рисков информационной безопасности крупного информационного центра при реализации технологии «умный дом»
						li Применение нейронных сетей  при подборе программного кода для повторного использования в защищенных информационных системах
						li Исследование функциональных возможностей программы «Mspy» анализа информации в мобильном устройстве на операционной системе  «Android»
						li Исследования специального программного обеспечения MobileSpy для удаленного мониторинга мобильного устройства связи
						li Управление кластером серверов СУБД Apache Cassanda в защищенном домене ОС Astra Linux Special Edition.
						li Использование методов полнотекстового поиска при подборе программного кода для повторного использования в защищенных информационных системах
						li Использование искусственных нейронных сетей для предсказания решений другого лица
						li Исследование методов идентификации и аутентификации мобильных сотрудников в распределенных информационных системах
						li Разработка алгоритма защиты от DDoS атак для мультимедийного контакт-центра на основе пакетного фильтра
						li Разработка алгоритма и программного обеспечения метода обнаружения вторжений на основе кластеризации узлов в сети
						li Разработка алгоритма и программного обеспечения для обнаружения скрытых каналов с использованием протокола IP
						li Разработка алгоритма и программного обеспечения для создания скрытых каналов с использованием стека протоколов TCP/IP
						li Разработка алгоритма и программного обеспечения для обнаружения скрытых каналов с использованием протокола  TCP
						li Разработка алгоритма и программного обеспечения для обнаружения скрытых каналов с использованием протокола ICMP
						li Разработка программного обеспечения для контроля за перевозкой специальных грузов автомобильным транспортом с использованием защищенных каналов связи 
						li Исследование специального программного обеспечения защиты связи филиалов регионального банка
						li Разработка программного обеспечения для проверки защищенности в ОС Linux.
						li Разработка программного обеспечения для тестирования межсетевых экранов в ОС Windows
						li Разработка программного обеспечения для контроля безопасности удаленных ПК
						li Разработка ПО для фильтрации и блокирования  нежелательного контента
						li Разработка комплексного антивирусного решения для ОС Windows
						li Разработка ПО для анализа журнала событий ОС Windows
						li Разработка программного комплекса проверки безопасности ПК, работающего на ОС Windows
						li Разработка программного обеспечения для анализа сетевого трафика
						li Разработка программного обеспечения для анализа журнала событий антивирусного программного обеспечения
						li Разработка межсетевого экрана для операционной системы Windows
						li Исследование алгоритмов обнаружения сетевых аномалий на основе скрытых Марковских моделей
						li Исследование статических алгоритмов обнаружения аномальных вторжений в компьютерной сети в режиме реального времени
						li Исследование алгоритмов  обнаружения аномальных вторжений  методами кратномасштабного  анализа
						li Исследование   устойчивости   к графическим  атакам алгоритмов встраивания водяных знаков в изображения методами 2D дискретного вейвлет преобразования
						li Исследование    влияния  типа материнского  вейвлета на   качество встраивания  водяных  знаков в 2D  стеганографии
						li Исследование алгоритмов формирования криптографически   безопасных псевдослучайных последовательностей
						li Исследование алгоритмов стеганографического встраивания  водяных знаков в видеофайлы формата MPEG

		+footer()

dist/master-themes/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Изучаемые дисциплины</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/international_activity">Международная деятельность</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-4 pr-5">
          <h1>ТЕМЫ   магистерских диссертаций  кафедры ИБ (2017/2018 учебный год)</h1>
          <ol class="numeric-list pl-2"></ol>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>
