src/pages/history/index.pug
doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "История кафедры"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-3.pb-2.pl-5.pr-5
					h1 История создания кафедры "Информационная безопасность"
					p.mt-2.mb-1.text-justify В 1958 году на базе общеинститутских кафедр и специальных кафедр Инженерно-экономического факультета был организован первый набор студентов для подготовки инженеров-электромехаников по проектированию и эксплуатации почтообрабатывающей техники и контролю денежно-кассовых операций почтовой связи. В числе студентов первого набора (1958 год) были Птицын Г.А., Колканов М.Ф. и др. Первые выпускники были направлены в СПКБ при Казанском вокзале. Первоначальные группы студентов-электромехаников входили в состав Инженерно-экономического факультета, деканом которого был профессор Крупянский Ф.Ю., сыгравший значительную роль в организации учебного процесса. Позднее деканами Инженерно-экономического факультета были Захаров И.А., Тарасова Н.П.
					p.mb-1.text-justify Для обучения студентов по профилирующим дисциплинам подготовки электромехаников в июле 1962 года была организована кафедра "Автоматизации и механизации предприятий почтовой связи". Заведующим кафедрой был назначен доцент Хлытчиев С.М. В состав кафедры первоначально входили доцент Лучинский И.Н., ассистенты Мицкевич В.А., Лившиц В.М. и зав. лабораториями Соколов В.П. Позже на кафедру пришли и Птицын Г.А., Захаров И.А., Ворожцов А.С., Педяш В.А., Добролюбов В.В. и др.
					.col-12.col-lg-12.mt-4.text-center
						img.img__full(src="/ii/img/history/aimps.png")
					p.mb-4.text-center.font-italic Кафедра автоматизации и механизации почтовой связи.
						br 
						|Стоят (слева направо): В.П. Соколов, А.С. Ворожцов, В.А. Мицкевич
						br
						|Сидят: В.М. Лившиц, В.А. Педяш, С.М. Хлытчиев, Г.А. Птицын
					p.mb-1.text-justify В 1988 году кафедра была переименована в кафедру "Защита информации и техника почтовой связи" (ЗИТПС). Кафедру возглавил заслуженный деятель науки РФ, д.т.н., професоор Петраков А.В., который руководил кафедрой до 2009 года.
					p.mb-1.text-justify В 2009 году кафедру возглавил заслуженный деятель науки РФ, д.т.н., профессор Шелухин О.И. В этот период на кафедре работали профессора Птицын Г.А., д.т.н. Звежинский С.С., Фёдоров С.Е., доценты Барсук И.В., Руднев А.Н., Осин А.В., Тарасова Н.П. и заведующий лабораториями Михалёв В.В.
					p.mb-1.text-justify В 2011 году произошло объединение кафедр ЗИТПС и "Автоматизация, информационные технологии и сертификация в связи" (АИТСС). До слияния кафедрой АИТСС руководил заслуженный деятель науки РФ, д.т.н., профессор Мамзелев И.А., а позднее – к.т.н., доцент Ерохин С.Д.
					p.mb-1.text-justify Объединённая кафедра получила название "Информационная безопасность и автоматизация" (ИБиА). Кафедру возглавил заслуженный деятель науки РФ, д.т.н., професоор Шелухин О.И. В этот период на кафедре работали более 20 преподавателей, в числе которых доктора технических наук, профессора Крейнделин В.Б., Звежинский С.С., профессора Птицын Г.А., Федоров С.Е., Максименко В.Н., Соколов В.П., Репинский В.Н., Жидаков В.П., Титов Е.В., доценты Андрюков А.А., Барсук И.В., Добролюбов В.В., Ерохин С.Д., Мочалов В.А., Симонян А.Г., Руднев А.Н., Тарасова Н.П., Лобзов А.В., Исаева Л.Н., ассистенты Бен Режеб Т.Б.К., Смирнов А.Э., зав. лабораториями Пухова Т.Ф., ведущий инженер Траубенберг А.П., инженер Михалёв В.В.
					p.mb-1.text-justify Кафедра выпускала специалистов на дневном и заочном отделениях по направлениям "Информационная безопасность" (профиль "Комплексная защита объектов информатизации), "Инфокоммуникационные технологии и системы связи" (профиль "Безопасность и программная защита инфокоммуникаций"), "Автоматизация технологических процессов и производств (связь)", "Информатика и вычислительная техника" (профиль "Программная защита информации").         																																			
					p.mb-1.text-justify Кафедра участвовала в подготовке специалистов по направлениям "Управление в технических системах", "Информационные системы и технологии", "Вычислительные машины, комплексы, системы и сети".
					p.mb-1.text-justify Общее количество выпускников в эти годы достигало 200 человек.
					.col-12.col-lg-12.mt-4.text-center
						img.img__full(src="/ii/img/history/kibia.png")
					p.mb-4.text-center.font-italic Кафедра информационной безопасности и автоматизации.
						br 
						|Стоят (слева направо): А.А. Андрюков, А.В. Лобзов, В.А. Мочалов, В.Н. Репинский, С.С. Звежинский, С.Д. Ерохин, В.В. Добролюбов, А.Г. Симонян, В.В. Михалёв, И.В. Барсук, Т.Б.К. Бен Режеб
						br
						|Сидят: Т.В. Пухова, А.П. Траубенберг, Л.Н. Исаева, О.И. Шелухин, В.Б. Крейнделин, В.П. Соколов, В.П. Жидаков, Г.А. Птицын, В.Н. Максименко
					p.mb-1.text-justify В 2016 году кафедра ИБиА была разделена на две: кафедру "Информационная безопасность" (ИБ) и кафедру "Интеллектуальные системы в управлении и автоматизации" (ИСУиА).
					p.mb-1.text-justify Кафедру "Информационная безопасность" возглавил заслуженный деятель науки РФ, д.т.н., профессор Шелухин О.И. Кафедра сосредоточилась на подготовке бакалавров и магистров по направлениям "Информационная безопасность" (профиль "Комплексная защита объектов информатизации), "Инфокоммуникационные технологии и системы связи" (профиль "Безопасность и программная защита инфокоммуникаций"), "Информатика и вычислительная техника" (профиль "Программная защита информации").
					p.mb-1.text-justify В 2016 году кафедра "Информационная безопасность" награждена дипломами лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинации "Преподаватель года" (профессор Шелухин О.И.) и "Студент года" (магистрант Костин Д.В.).
					.row.mt-2
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/kostin_infoforum.png")
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/sheluhin_infoforum.png")
					.col-12.col-lg-12.mt-4.text-center
						img.img__full(src="/ii/img/history/ib_2017.png")
					p.mb-4.text-center.font-italic Кафедра информационной безопасности (2017 год).
						br 
						|В первом ряду стоят (слева направо):П.Г. Горлач, Д.В. Костин, С.Д. Ерохин, О.И. Шелухин, А.В. Ванюшина, И.В. Барсук, Е.Е. Шекурова, А.И. Ларин, А.П. Траубенберг 
						br
						|Второй ряд: И.А. Денисов, А.В. Осин, А.Г. Симонян, А.С. Большаков, С.С. Звежинский, О.П. Иевлев, В.В. Барков, А.Н. Руднев, А.Э. Смирнов, Т.Б.К. Бен Режеб, В.В. Михалёв
					p.mb-1.text-justify В 2017 году кафедра "Информационная безопасность" награждена дипломами лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинациях "Образовательный центр года" и "Студент года" (магистрант Канаев С.Д.).
					.row.mt-2
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/diplom_ib.png")
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/kanaev_infoforum.png")
					p.mb-1.text-justify В 2017 году кафедра выпускает 50 бакалавров по направлению 11.03.02 "Инфокоммуникационные технологии и системы связи" программа "Программно-защищенные инфокоммуникации", 17 бакалавров по направлению "Информационная безопасность", 18 магистров по направлению 11.04.02 "Инфокоммуникационные технологии и системы связи" профиль "Безопасность и программная защита инфокоммуникаций", 6 магистров по направлению 09.04.01 "Информатика и вычислительная техника" профиль "Программная защита информации".

		+footer()

dist/history/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>История кафедры</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-3 pb-2 pl-5 pr-5">
          <h1>История создания кафедры "Информационная безопасность"</h1>
          <p class="mt-2 mb-1 text-justify">В 1958 году на базе общеинститутских кафедр и специальных кафедр Инженерно-экономического факультета был организован первый набор студентов для подготовки инженеров-электромехаников по проектированию и эксплуатации почтообрабатывающей техники и контролю денежно-кассовых операций почтовой связи. В числе студентов первого набора (1958 год) были Птицын Г.А., Колканов М.Ф. и др. Первые выпускники были направлены в СПКБ при Казанском вокзале. Первоначальные группы студентов-электромехаников входили в состав Инженерно-экономического факультета, деканом которого был профессор Крупянский Ф.Ю., сыгравший значительную роль в организации учебного процесса. Позднее деканами Инженерно-экономического факультета были Захаров И.А., Тарасова Н.П.</p>
          <p class="mb-1 text-justify">Для обучения студентов по профилирующим дисциплинам подготовки электромехаников в июле 1962 года была организована кафедра "Автоматизации и механизации предприятий почтовой связи". Заведующим кафедрой был назначен доцент Хлытчиев С.М. В состав кафедры первоначально входили доцент Лучинский И.Н., ассистенты Мицкевич В.А., Лившиц В.М. и зав. лабораториями Соколов В.П. Позже на кафедру пришли и Птицын Г.А., Захаров И.А., Ворожцов А.С., Педяш В.А., Добролюбов В.В. и др.</p>
          <div class="col-12 col-lg-12 mt-4 text-center"><img class="img__full" src="/ii/img/history/aimps.png"></div>
          <p class="mb-4 text-center font-italic">Кафедра автоматизации и механизации почтовой связи.<br>Стоят (слева направо): В.П. Соколов, А.С. Ворожцов, В.А. Мицкевич<br>Сидят: В.М. Лившиц, В.А. Педяш, С.М. Хлытчиев, Г.А. Птицын</p>
          <p class="mb-1 text-justify">В 1988 году кафедра была переименована в кафедру "Защита информации и техника почтовой связи" (ЗИТПС). Кафедру возглавил заслуженный деятель науки РФ, д.т.н., професоор Петраков А.В., который руководил кафедрой до 2009 года.</p>
          <p class="mb-1 text-justify">В 2009 году кафедру возглавил заслуженный деятель науки РФ, д.т.н., профессор Шелухин О.И. В этот период на кафедре работали профессора Птицын Г.А., д.т.н. Звежинский С.С., Фёдоров С.Е., доценты Барсук И.В., Руднев А.Н., Осин А.В., Тарасова Н.П. и заведующий лабораториями Михалёв В.В.</p>
          <p class="mb-1 text-justify">В 2011 году произошло объединение кафедр ЗИТПС и "Автоматизация, информационные технологии и сертификация в связи" (АИТСС). До слияния кафедрой АИТСС руководил заслуженный деятель науки РФ, д.т.н., профессор Мамзелев И.А., а позднее – к.т.н., доцент Ерохин С.Д.</p>
          <p class="mb-1 text-justify">Объединённая кафедра получила название "Информационная безопасность и автоматизация" (ИБиА). Кафедру возглавил заслуженный деятель науки РФ, д.т.н., професоор Шелухин О.И. В этот период на кафедре работали более 20 преподавателей, в числе которых доктора технических наук, профессора Крейнделин В.Б., Звежинский С.С., профессора Птицын Г.А., Федоров С.Е., Максименко В.Н., Соколов В.П., Репинский В.Н., Жидаков В.П., Титов Е.В., доценты Андрюков А.А., Барсук И.В., Добролюбов В.В., Ерохин С.Д., Мочалов В.А., Симонян А.Г., Руднев А.Н., Тарасова Н.П., Лобзов А.В., Исаева Л.Н., ассистенты Бен Режеб Т.Б.К., Смирнов А.Э., зав. лабораториями Пухова Т.Ф., ведущий инженер Траубенберг А.П., инженер Михалёв В.В.</p>
          <p class="mb-1 text-justify">Кафедра выпускала специалистов на дневном и заочном отделениях по направлениям "Информационная безопасность" (профиль "Комплексная защита объектов информатизации), "Инфокоммуникационные технологии и системы связи" (профиль "Безопасность и программная защита инфокоммуникаций"), "Автоматизация технологических процессов и производств (связь)", "Информатика и вычислительная техника" (профиль "Программная защита информации").         																																			</p>
          <p class="mb-1 text-justify">Кафедра участвовала в подготовке специалистов по направлениям "Управление в технических системах", "Информационные системы и технологии", "Вычислительные машины, комплексы, системы и сети".</p>
          <p class="mb-1 text-justify">Общее количество выпускников в эти годы достигало 200 человек.</p>
          <div class="col-12 col-lg-12 mt-4 text-center"><img class="img__full" src="/ii/img/history/kibia.png"></div>
          <p class="mb-4 text-center font-italic">Кафедра информационной безопасности и автоматизации.<br>Стоят (слева направо): А.А. Андрюков, А.В. Лобзов, В.А. Мочалов, В.Н. Репинский, С.С. Звежинский, С.Д. Ерохин, В.В. Добролюбов, А.Г. Симонян, В.В. Михалёв, И.В. Барсук, Т.Б.К. Бен Режеб<br>Сидят: Т.В. Пухова, А.П. Траубенберг, Л.Н. Исаева, О.И. Шелухин, В.Б. Крейнделин, В.П. Соколов, В.П. Жидаков, Г.А. Птицын, В.Н. Максименко</p>
          <p class="mb-1 text-justify">В 2016 году кафедра ИБиА была разделена на две: кафедру "Информационная безопасность" (ИБ) и кафедру "Интеллектуальные системы в управлении и автоматизации" (ИСУиА).</p>
          <p class="mb-1 text-justify">Кафедру "Информационная безопасность" возглавил заслуженный деятель науки РФ, д.т.н., профессор Шелухин О.И. Кафедра сосредоточилась на подготовке бакалавров и магистров по направлениям "Информационная безопасность" (профиль "Комплексная защита объектов информатизации), "Инфокоммуникационные технологии и системы связи" (профиль "Безопасность и программная защита инфокоммуникаций"), "Информатика и вычислительная техника" (профиль "Программная защита информации").</p>
          <p class="mb-1 text-justify">В 2016 году кафедра "Информационная безопасность" награждена дипломами лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинации "Преподаватель года" (профессор Шелухин О.И.) и "Студент года" (магистрант Костин Д.В.).</p>
          <div class="row mt-2">
            <div class="col-12 col-lg-6 text-center mb-2"><img class="img__half" src="/ii/img/history/kostin_infoforum.png"></div>
            <div class="col-12 col-lg-6 text-center mb-2"><img class="img__half" src="/ii/img/history/sheluhin_infoforum.png"></div>
          </div>
          <div class="col-12 col-lg-12 mt-4 text-center"><img class="img__full" src="/ii/img/history/ib_2017.png"></div>
          <p class="mb-4 text-center font-italic">Кафедра информационной безопасности (2017 год).<br>В первом ряду стоят (слева направо):П.Г. Горлач, Д.В. Костин, С.Д. Ерохин, О.И. Шелухин, А.В. Ванюшина, И.В. Барсук, Е.Е. Шекурова, А.И. Ларин, А.П. Траубенберг <br>Второй ряд: И.А. Денисов, А.В. Осин, А.Г. Симонян, А.С. Большаков, С.С. Звежинский, О.П. Иевлев, В.В. Барков, А.Н. Руднев, А.Э. Смирнов, Т.Б.К. Бен Режеб, В.В. Михалёв</p>
          <p class="mb-1 text-justify">В 2017 году кафедра "Информационная безопасность" награждена дипломами лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинациях "Образовательный центр года" и "Студент года" (магистрант Канаев С.Д.).</p>
          <div class="row mt-2">
            <div class="col-12 col-lg-6 text-center mb-2"><img class="img__half" src="/ii/img/history/diplom_ib.png"></div>
            <div class="col-12 col-lg-6 text-center mb-2"><img class="img__half" src="/ii/img/history/kanaev_infoforum.png"></div>
          </div>
          <p class="mb-1 text-justify">В 2017 году кафедра выпускает 50 бакалавров по направлению 11.03.02 "Инфокоммуникационные технологии и системы связи" программа "Программно-защищенные инфокоммуникации", 17 бакалавров по направлению "Информационная безопасность", 18 магистров по направлению 11.04.02 "Инфокоммуникационные технологии и системы связи" профиль "Безопасность и программная защита инфокоммуникаций", 6 магистров по направлению 09.04.01 "Информатика и вычислительная техника" профиль "Программная защита информации".</p>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>
