src/pages/teachers/kreindelin/index.pug
doctype html
html(lang="ru")
	include ../../../templates/head.pug
	include ../../../templates/header.pug
	include ../../../templates/footer.pug
	include ../../../templates/main__banner.pug

	head
		-var pageName = "Крейнделин Виталий Борисович"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-5
					h1.mb-3 Крейнделин Виталий Борисович
					img.teacher__photo_detail.mr-4.mb-1(src="/ii/img/teachers/kreindelin.jpg")
					p.mb-1 Крейнделин В.Б. - профессор кафедры ИБиА, доктор технических наук (2009г.). Окончил: с отличием Московский Институт Связи (МИС (в настоящее время – МТУСИ), 1990г., специальность «Радиотехника») и Московский Государственный Университет им. М.В. Ломоносова (МГУ, 1994 г., специальность «Прикладная математика»). Ученые степени кандидата и доктора технических наук присуждены в МТУСИ (1994 г., 2009 г.), ученое звание доцента присвоено в 2003 г, ученое звание профессора присвоено в 2014 году 
					p.mb-1 Инженер, ст. научный сотрудник отдела подвижной связи НИИР (1990-1997 гг.); ассистент кафедры РТС МТУСИ (1998-1999 гг.); доцент кафедры АИТСС МТУСИ (2000-2009 гг.); профессор кафедры АИТСС МТУСИ (2009-2012 гг.); С 2012 г. по настоящее время - профессор кафедры ИБиА МТУСИ. Начальник отдела Минсвязи России, затем – начальник отдела Федерального агентства связи (2001 г. - наст. время). Мастер связи (2007 г.).
					p.mb-1 Ведет учебные занятия по дисциплинам «Беспроводные сети передачи данных», «Математическое моделирование», «Компьютерные технологии в системах управления». Является автором и соавтором научных монографий: «Новые технологии в системах мобильной радиосвязи» (2005 г.), «Новые алгоритмы формирования и обработки сигналов в системах подвижной связи» (2008 г.), «Новые методы обработки сигналов в системах беспроводной связи» (2009 г.); соавтор ряда учебных пособий МТУСИ. Руководит научной работой аспирантов и подготовкой выпускных квалификационных работ бакалавров и магистров. Под его руководством защищено 2 кандидатские диссертации.
					p.mb-1 Имеет более 150 научных печатных работ, в том числе более 30 российских и зарубежных (США, Канада, Европа) патентов на изобретения в области беспроводной связи.
					p.mb-1
						span.font-weight-bold Область научных интересов 
						|- формирование и обработка сигналов в системах подвижной радиосвязи, в том числе в системах CDMA, OFDM, MIMO и др., методы снижения вычислительной сложности алгоритмов обработки сигналов в системах связи.
					p Крейнделин В.Б. предлагает  
						span.font-weight-bold темы квалификационных работ 
						|бакалавров, инженеров, магистров и аспирантов по тематике беспроводной связи:
						ol.numeric-list
							li.numeric-list__item Беспроводные сети М2М;
							li.numeric-list__item Беспроводные сети стандарта IEEE.802.16e;
							li.numeric-list__item Беспроводные сети стандарта IEEE.802.16m;
							li.numeric-list__item Беспроводные сети стандарта IEEE.802.11n;
							li.numeric-list__item Беспроводные сети стандарта LTE;
							li.numeric-list__item Беспроводные сети стандарта LTE-Advanced;
							li.numeric-list__item Методы пространственно-временного кодирования (Space-Time Coding) и их применение в беспроводных сетях;
							li.numeric-list__item Beamforming в беспроводных сетях;
							li.numeric-list__item Precoding в беспроводных сетях;
							li.numeric-list__item Multiuser MIMO в беспроводных сетях;
					p Возможны также и другие темы в данной области и в смежных областях.	
				


		+footer()

dist/teachers/kreindelin/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Крейнделин Виталий Борисович</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-5 pr-5">
          <h1 class="mb-3">Крейнделин Виталий Борисович</h1><img class="teacher__photo_detail mr-4 mb-1" src="/ii/img/teachers/kreindelin.jpg">
          <p class="mb-1">Крейнделин В.Б. - профессор кафедры ИБиА, доктор технических наук (2009г.). Окончил: с отличием Московский Институт Связи (МИС (в настоящее время – МТУСИ), 1990г., специальность «Радиотехника») и Московский Государственный Университет им. М.В. Ломоносова (МГУ, 1994 г., специальность «Прикладная математика»). Ученые степени кандидата и доктора технических наук присуждены в МТУСИ (1994 г., 2009 г.), ученое звание доцента присвоено в 2003 г, ученое звание профессора присвоено в 2014 году </p>
          <p class="mb-1">Инженер, ст. научный сотрудник отдела подвижной связи НИИР (1990-1997 гг.); ассистент кафедры РТС МТУСИ (1998-1999 гг.); доцент кафедры АИТСС МТУСИ (2000-2009 гг.); профессор кафедры АИТСС МТУСИ (2009-2012 гг.); С 2012 г. по настоящее время - профессор кафедры ИБиА МТУСИ. Начальник отдела Минсвязи России, затем – начальник отдела Федерального агентства связи (2001 г. - наст. время). Мастер связи (2007 г.).</p>
          <p class="mb-1">Ведет учебные занятия по дисциплинам «Беспроводные сети передачи данных», «Математическое моделирование», «Компьютерные технологии в системах управления». Является автором и соавтором научных монографий: «Новые технологии в системах мобильной радиосвязи» (2005 г.), «Новые алгоритмы формирования и обработки сигналов в системах подвижной связи» (2008 г.), «Новые методы обработки сигналов в системах беспроводной связи» (2009 г.); соавтор ряда учебных пособий МТУСИ. Руководит научной работой аспирантов и подготовкой выпускных квалификационных работ бакалавров и магистров. Под его руководством защищено 2 кандидатские диссертации.</p>
          <p class="mb-1">Имеет более 150 научных печатных работ, в том числе более 30 российских и зарубежных (США, Канада, Европа) патентов на изобретения в области беспроводной связи.</p>
          <p class="mb-1"><span class="font-weight-bold">Область научных интересов </span>- формирование и обработка сигналов в системах подвижной радиосвязи, в том числе в системах CDMA, OFDM, MIMO и др., методы снижения вычислительной сложности алгоритмов обработки сигналов в системах связи.</p>
          <p>Крейнделин В.Б. предлагает  <span class="font-weight-bold">темы квалификационных работ </span>бакалавров, инженеров, магистров и аспирантов по тематике беспроводной связи:
            <ol class="numeric-list">
              <li class="numeric-list__item">Беспроводные сети М2М;</li>
              <li class="numeric-list__item">Беспроводные сети стандарта IEEE.802.16e;</li>
              <li class="numeric-list__item">Беспроводные сети стандарта IEEE.802.16m;</li>
              <li class="numeric-list__item">Беспроводные сети стандарта IEEE.802.11n;</li>
              <li class="numeric-list__item">Беспроводные сети стандарта LTE;</li>
              <li class="numeric-list__item">Беспроводные сети стандарта LTE-Advanced;</li>
              <li class="numeric-list__item">Методы пространственно-временного кодирования (Space-Time Coding) и их применение в беспроводных сетях;</li>
              <li class="numeric-list__item">Beamforming в беспроводных сетях;</li>
              <li class="numeric-list__item">Precoding в беспроводных сетях;</li>
              <li class="numeric-list__item">Multiuser MIMO в беспроводных сетях;</li>
            </ol>
          </p>
          <p>Возможны также и другие темы в данной области и в смежных областях.	</p>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>
