src/pages/teachers/index.pug
doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug
	include ../../templates/teacher.pug

	head
		-var pageName = "Состав кафедры"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Состав кафедры
					.row.teacher__header.font-weight-bold.pt-2.pb-2
						.col-lg-4.col-md-4.col-12 Фото
						.col-lg-5.col-md-5.col-12 ФИО, учёная степень, звание
						.col-lg-3.col-md-3.col-12 Должность
					+teacher('Шелухин Олег Иванович', 'Заслуженный деятель науки Российской Федерации, почетный работник высшей школы Российской Федерации, д.т.н., профессор','Заведующий кафедрой') 
					+teacher('Крейнделин Виталий Борисович', 'д.т.н., профессор', 'Профессор') 
					+teacher('Звежинский Станислав Сигизмундович', 'д.т.н., профессор', 'Профессор') 
					+teacher('Большаков Александр Сергеевич','к.т.н., доцент','	Доцент')
					+teacher('Ерохин Сергей Дмитриевич','к.т.н., доцент','	Доцент')
					+teacher('Ларин Александр Иванович','к.т.н., доцент','	Доцент')
					+teacher('Максименко Владимир Николаевич','к.т.н., доцент','	Доцент')
					+teacher('Осин Андрей Владимирович','к.т.н., доцент','	Доцент')
					+teacher('Руднев Алексей Николаевич','к.т.н., доцент','	Доцент')
					+teacher('Симонян Айрапет Герникович','к.т.н., доцент','Доцент', 'Заместитель заведующего кафедрой')
					+teacher('Бен Режеб Тауфик Бен Камель','', 'Старший преподаватель', 'Учёный секретарь кафедры')
					+teacher('Ванюшина Анна Вячеславовна', '', 'Старший преподаватель')
					+teacher('Смирнов Алексей Эдуардович', '', 'Старший преподаватель')
					+teacher('Тихонюк Андрей Иванович', '', 'Старший преподаватель')
					+teacher('Барков Вячеслав Валерьевич','','Ассистент')
					+teacher('Богомолов Егор Антонович','','Ассистент')
					+teacher('Костин Денис Владимирович','','Ассистент')
					+teacher('Фармаковский Максим Александрович','','Ассистент')
					+teacher('Пухова Татьяна Фёдоровна','','Заведующий лабораторией кафедры')
					+teacher('Кускова Ирина Григорьевна','','Ведущий инженер')
					+teacher('Магомедова Дженнет Исламутдиновна','','инженер')
					+teacher('Пугачев Денис Александрович','','инженер')
					+teacher('Тужилина Ксения Александровна','','инженер')

					 

		+footer()

dist/teachers/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Состав кафедры</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-5 pr-3">
          <h1>Состав кафедры</h1>
          <div class="row teacher__header font-weight-bold pt-2 pb-2">
            <div class="col-lg-4 col-md-4 col-12">Фото</div>
            <div class="col-lg-5 col-md-5 col-12">ФИО, учёная степень, звание</div>
            <div class="col-lg-3 col-md-3 col-12">Должность</div>
          </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Шелухин Олег Иванович</a>
                <div class="teacher__degree">Заслуженный деятель науки Российской Федерации, почетный работник высшей школы Российской Федерации, д.т.н., профессор</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Заведующий кафедрой<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Крейнделин Виталий Борисович</a>
                <div class="teacher__degree">д.т.н., профессор</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Профессор<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Звежинский Станислав Сигизмундович</a>
                <div class="teacher__degree">д.т.н., профессор</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Профессор<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Большаков Александр Сергеевич</a>
                <div class="teacher__degree">к.т.н., доцент</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">	Доцент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Ерохин Сергей Дмитриевич</a>
                <div class="teacher__degree">к.т.н., доцент</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">	Доцент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Ларин Александр Иванович</a>
                <div class="teacher__degree">к.т.н., доцент</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">	Доцент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Максименко Владимир Николаевич</a>
                <div class="teacher__degree">к.т.н., доцент</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">	Доцент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Осин Андрей Владимирович</a>
                <div class="teacher__degree">к.т.н., доцент</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">	Доцент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Руднев Алексей Николаевич</a>
                <div class="teacher__degree">к.т.н., доцент</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">	Доцент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Симонян Айрапет Герникович</a>
                <div class="teacher__degree">к.т.н., доцент</div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Доцент<br>Заместитель заведующего кафедрой</div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Бен Режеб Тауфик Бен Камель</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Старший преподаватель<br>Учёный секретарь кафедры</div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Ванюшина Анна Вячеславовна</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Старший преподаватель<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Смирнов Алексей Эдуардович</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Старший преподаватель<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Тихонюк Андрей Иванович</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Старший преподаватель<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Барков Вячеслав Валерьевич</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Ассистент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Богомолов Егор Антонович</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Ассистент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Костин Денис Владимирович</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Ассистент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Фармаковский Максим Александрович</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Ассистент<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Пухова Татьяна Фёдоровна</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Заведующий лабораторией кафедры<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Кускова Ирина Григорьевна</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">Ведущий инженер<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Магомедова Дженнет Исламутдиновна</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">инженер<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Пугачев Денис Александрович</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">инженер<br></div>
            </div>
            <div class="row teacher pt-2 pb-2">
              <div class="col-lg-4 col-md-4 col-12"><img class="teacher__photo"></div>
              <div class="col-lg-5 col-md-5 col-12 mb-2"><a class="teacher__name link mb-1">Тужилина Ксения Александровна</a>
                <div class="teacher__degree"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">инженер<br></div>
            </div>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>
