src/pages/reviewing-vkr/index.pug
doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Рецензирование и утверждение ВКР"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Рецензирование и утверждение ВКР
					p.mb-1 
						span.font-weight-bold Направление на рецензию 
						|даёт исключительно заведующий кафедрой ИБ д.т.н., профессор Шелухин О.И.
					p.mb-1 Для утверждения законченной работы и направления на рецензию необходимо 
						span.font-weight-bold представить заведующему кафедрой (не позднее чем за 3 дня до дня «защиты»):
					ul.ml-5
						li 
							span.font-weight-bold Полностью законченный 
							|и 
							span.font-weight-bold.text-underline ПЕРЕПЛЕТЕННЫЙ 
							|дипломный проект(работу, диссертацию) со всеми подписями консультантов и отзывом руководителя;
						li 
							span.text-underline.font-weight-bold Плакаты 
							|в количестве не менее 6 штук 
							span.text-underline.font-weight-bold или 
							|распечатку всех страниц 
							span.text-underline.font-weight-bold презентации 
							|с титульным листом;
						li Дипломный проект (работу, диссертацию) и презентация, записанные на 
							span.font-weight-bold.text-underline компакт диск (CD) 
							|для проверки работы в системе «АНТИПЛАГИАТ».
			

		+footer()

dist/reviewing-vkr/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Рецензирование и утверждение ВКР</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-5 pr-3">
          <h1>Рецензирование и утверждение ВКР</h1>
          <p class="mb-1"> <span class="font-weight-bold">Направление на рецензию </span>даёт исключительно заведующий кафедрой ИБ д.т.н., профессор Шелухин О.И.</p>
          <p class="mb-1">Для утверждения законченной работы и направления на рецензию необходимо <span class="font-weight-bold">представить заведующему кафедрой (не позднее чем за 3 дня до дня «защиты»):</span></p>
          <ul class="ml-5">
            <li> <span class="font-weight-bold">Полностью законченный </span>и <span class="font-weight-bold text-underline">ПЕРЕПЛЕТЕННЫЙ </span>дипломный проект(работу, диссертацию) со всеми подписями консультантов и отзывом руководителя;</li>
            <li> <span class="text-underline font-weight-bold">Плакаты </span>в количестве не менее 6 штук <span class="text-underline font-weight-bold">или </span>распечатку всех страниц <span class="text-underline font-weight-bold">презентации </span>с титульным листом;</li>
            <li>Дипломный проект (работу, диссертацию) и презентация, записанные на <span class="font-weight-bold text-underline">компакт диск (CD) </span>для проверки работы в системе «АНТИПЛАГИАТ».</li>
          </ul>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>
