dist/subjects/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Изучаемые дисциплины</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-4 pr-5">
          <h1>Список дисциплин, изучаемых на кафедре "Информационная безопасность"</h1>
          <ol class="numeric-list pl-2"> 
            <li class="numeric-list__item">Аппаратные и программные средства обеспечения информационной безопасности</li>
            <li class="numeric-list__item">Введение в профессию</li>
            <li class="numeric-list__item">Защита и обработка конфиденциальных документов</li>
            <li class="numeric-list__item">Защита информации</li>
            <li class="numeric-list__item">Защита информации в глобальных сетях</li>
            <li class="numeric-list__item">Защита информации от вредносного программного обеспечения</li>
            <li class="numeric-list__item">Имитационное моделирование систем обнаружения вторжений и компьютерных атак</li>
            <li class="numeric-list__item">Инженерно-техническая защита информации</li>
            <li class="numeric-list__item">Инженерно-техническая защита объектов инфокоммуникаций</li>
            <li class="numeric-list__item">Интеллектуальные технологии информационной безопасности</li>
            <li class="numeric-list__item">Информационная безопасность автоматизированных систем </li>
            <li class="numeric-list__item">Комплексная защита информации</li>
            <li class="numeric-list__item">Криптографические методы защиты информации </li>
            <li class="numeric-list__item">Криптографические методы и средства обеспечения информационной безопасности</li>
            <li class="numeric-list__item">Криптографические методы и средства программной защиты информации</li>
            <li class="numeric-list__item">Криптографические протоколы</li>
            <li class="numeric-list__item">Методы и средства защиты информации в компьютерных сетях</li>
            <li class="numeric-list__item">Методы и средства защиты компьютерной информации</li>
            <li class="numeric-list__item">Методы сжатия аудио и видеоинформации</li>
            <li class="numeric-list__item">Моделирование инфокоммуникационных систем</li>
            <li class="numeric-list__item">Моделирование систем защиты информации</li>
            <li class="numeric-list__item">Моделирование систем и процессов </li>
            <li class="numeric-list__item">Нормативно-правовое обеспечение информационной безопасности</li>
            <li class="numeric-list__item">Обработка и кодирование в системах защиты информации</li>
            <li class="numeric-list__item">Объектно-ориентированное программирование систем защиты информации</li>
            <li class="numeric-list__item">Организация и управление службой защиты информации</li>
            <li class="numeric-list__item">Организация комплесной системы защиты информации на предприятии</li>
            <li class="numeric-list__item">Основы информационной безопасности</li>
            <li class="numeric-list__item">Основы информационной безопасности систем и сетей связи</li>
            <li class="numeric-list__item">Основы проектирования защищенных инфокоммуникационных систем</li>
            <li class="numeric-list__item">Основы стеганографии</li>
            <li class="numeric-list__item">Программирование в системах информационной безопасности </li>
            <li class="numeric-list__item">Программная защита компьютерных сетей </li>
            <li class="numeric-list__item">Программно-аппаратная защита информации</li>
            <li class="numeric-list__item">Программно-аппаратные средства защиты информации</li>
            <li class="numeric-list__item">Программные средства защиты информации</li>
            <li class="numeric-list__item">Сетевые информаиионные технологии</li>
            <li class="numeric-list__item">Сетевые технологии</li>
            <li class="numeric-list__item">Сжатие и хранение данных</li>
            <li class="numeric-list__item">Сжатие и хранение информации в автоматизированных системах</li>
            <li class="numeric-list__item">Системы комплексной защиты информации</li>
            <li class="numeric-list__item">Системы обнаружения вторжений в инфокоммуникациях</li>
            <li class="numeric-list__item">Системы обнаружения вторжений в компьютерные сети</li>
            <li class="numeric-list__item">Стеганография аудио и видео</li>
            <li class="numeric-list__item">Теория информационной безопасности и методология защиты инфокоммуникаций</li>
            <li class="numeric-list__item">Теория информационной безопасности и методология защиты информации</li>
            <li class="numeric-list__item">Технологии обработки информации</li>
            <li class="numeric-list__item">Технологии программной защиты в Интернете</li>
            <li class="numeric-list__item">Технологии стеганографии в системе инфокоммуникаций</li>
            <li class="numeric-list__item">Управление информационной безопасностью</li>
          </ol>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>

src/pages/subjects/index.pug
doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Изучаемые дисциплины"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-4.pr-5
					h1 Список дисциплин, изучаемых на кафедре "Информационная безопасность"
					ol.numeric-list.pl-2 
						li.numeric-list__item Аппаратные и программные средства обеспечения информационной безопасности
						li.numeric-list__item Введение в профессию
						li.numeric-list__item Защита и обработка конфиденциальных документов
						li.numeric-list__item Защита информации
						li.numeric-list__item Защита информации в глобальных сетях
						li.numeric-list__item Защита информации от вредносного программного обеспечения
						li.numeric-list__item Имитационное моделирование систем обнаружения вторжений и компьютерных атак
						li.numeric-list__item Инженерно-техническая защита информации
						li.numeric-list__item Инженерно-техническая защита объектов инфокоммуникаций
						li.numeric-list__item Интеллектуальные технологии информационной безопасности
						li.numeric-list__item Информационная безопасность автоматизированных систем 
						li.numeric-list__item Комплексная защита информации
						li.numeric-list__item Криптографические методы защиты информации 
						li.numeric-list__item Криптографические методы и средства обеспечения информационной безопасности
						li.numeric-list__item Криптографические методы и средства программной защиты информации
						li.numeric-list__item Криптографические протоколы
						li.numeric-list__item Методы и средства защиты информации в компьютерных сетях
						li.numeric-list__item Методы и средства защиты компьютерной информации
						li.numeric-list__item Методы сжатия аудио и видеоинформации
						li.numeric-list__item Моделирование инфокоммуникационных систем
						li.numeric-list__item Моделирование систем защиты информации
						li.numeric-list__item Моделирование систем и процессов 
						li.numeric-list__item Нормативно-правовое обеспечение информационной безопасности
						li.numeric-list__item Обработка и кодирование в системах защиты информации
						li.numeric-list__item Объектно-ориентированное программирование систем защиты информации
						li.numeric-list__item Организация и управление службой защиты информации
						li.numeric-list__item Организация комплесной системы защиты информации на предприятии
						li.numeric-list__item Основы информационной безопасности
						li.numeric-list__item Основы информационной безопасности систем и сетей связи
						li.numeric-list__item Основы проектирования защищенных инфокоммуникационных систем
						li.numeric-list__item Основы стеганографии
						li.numeric-list__item Программирование в системах информационной безопасности 
						li.numeric-list__item Программная защита компьютерных сетей 
						li.numeric-list__item Программно-аппаратная защита информации
						li.numeric-list__item Программно-аппаратные средства защиты информации
						li.numeric-list__item Программные средства защиты информации
						li.numeric-list__item Сетевые информаиионные технологии
						li.numeric-list__item Сетевые технологии
						li.numeric-list__item Сжатие и хранение данных
						li.numeric-list__item Сжатие и хранение информации в автоматизированных системах
						li.numeric-list__item Системы комплексной защиты информации
						li.numeric-list__item Системы обнаружения вторжений в инфокоммуникациях
						li.numeric-list__item Системы обнаружения вторжений в компьютерные сети
						li.numeric-list__item Стеганография аудио и видео
						li.numeric-list__item Теория информационной безопасности и методология защиты инфокоммуникаций
						li.numeric-list__item Теория информационной безопасности и методология защиты информации
						li.numeric-list__item Технологии обработки информации
						li.numeric-list__item Технологии программной защиты в Интернете
						li.numeric-list__item Технологии стеганографии в системе инфокоммуникаций
						li.numeric-list__item Управление информационной безопасностью

		+footer()
