dist/educational-work/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/ii/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="/ii/js/script.js"></script>
      <title>Учебная работа кафедры</title>
  </head>
  <body>
    <div class="mask d-none"></div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-1 header__menu">
              <div class="header__menu_open"><i class="material-icons">menu</i></div>
              <div class="header__menu_block p-2 d-none text-center">
                <div class="header__menu_close"><i class="material-icons">close</i></div>
                <ul class="header__menu_list list-unstyled">
                  <li class="header__menu_item"><a class="link" href="/">Главная</a></li>
                  <li class="header__menu_item"><a class="link" href="/history">История&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  <li class="header__menu_item"><a class="link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                  <li class="header__menu_item"><a class="link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                  <li class="header__menu_item"><a class="link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  <li class="header__menu_item"><a class="link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                  <li class="header__menu_item"><a class="link" href="/masters-themes">Темы&nbsp;магистерских&nbsp;диссертаций</a></li>
                  <li class="header__menu_item"><a class="link" href="/reviewing-vkr">Рецензирование&nbsp;и&nbsp;утверждение ВКР</a></li>
                  <li class="header__menu_item"><a class="link" href="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-11 col-lg-6 header__address"><i class="material-icons">place&nbsp;</i>Авиамоторная ул., д.8а</div>
            <div class="col-12 col-lg-2"><i class="material-icons">email&nbsp;</i>mail@kibia</div>
            <div class="col-12 col-lg-4"><i class="material-icons">phone&nbsp;</i>+7(495)957-79-51/+7(495)361-05-22</div>
          </div>
          <div id="toTop"><i class="material-icons">arrow_upward</i></div>
        </div>
      </div>
    <main>
        <div class="main__banner">
          <nav class="navbar navbar-expand-lg main-menu text-uppercase">
            <div class="container">
              <ul class="navbar-nav row align-middle">
                <li class="nav-item col-lg-2"><a class="nav-link text-right" href="/"> <img class="header__logo" src="/ii/img/logo.png"></a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">О кафедре</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/history">История&nbsp;кафедры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Состав&nbsp;кафедры</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Учебная работа</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/subjects">Изучаемые&nbsp;дисциплины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Учебные&nbsp;пособия и монографии</a></li>
                    <li class="nav-item"><a class="nav-link" href="/educational-work">Направления&nbsp;подготовки</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item col-lg-2 dropdown"><a class="nav-link">Дипломнику</a>
                  <ul class="dropdown-menu sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/vkr">Темы&nbsp;ВКР в 2017/2018 году</a></li>
                    <li class="nav-item"><a class="nav-link" href="/masters-themes">Темы&nbsp;магистерских диссертаций</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reviewing-vkr">Рецензирование&nbsp;и утверждение ВКР</a></li>
                  </ul>
                </li>
                <li class="nav-item col-lg-2"><a class="nav-link" href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </nav><a class="main__banner_title text-center d-block" href="/">Кафедра информационной безопасности
            <div class="main__banner_subtitle">Факультет Информационных технологий</div></a>
        </div>
      <div class="main__body">
        <div class="container pt-2 pb-2 pl-5 pr-3">
          <h1>Учебная работа кафедры</h1>
          <h4 class="mt-3 mb-3 text-center font-weight-bold">Кафедра является выпускающей и готовит бакалавров и магистров.</h4>
          <p class="mb-2">Кафедра ведёт подготовку бакалавров по следующим направлениям:</p>
          <ul class="ml-5">
            <li>Информационная безопасность (10.03.01) – профиль "Комплексная защита объектов информатизации"</li>
            <li>Инфокоммуникационные технологии и системы связи (11.03.02) – профиль "Программно-защищённые инфокоммуникации" </li>
          </ul>
          <p class="mt-4 mb-2">Кафедра ведёт подготовку магистров по следующим направлениям:</p>
          <p class="mb-2">в рамках направления "Информатика и вычислительная техника" (09.04.01) </p>
          <p class="mb-2 font-weight-bold">Программная защита информации</p>
          <p class="mb-3">Основное содержание магистерской программы:</p>
          <ul class="ml-5"> 
            <li>Программирование защищённых сетевых приложений;</li>
            <li>Угрозы безопасности в Интернете;</li>
            <li>Системы обнаружения вторжений в инфокоммуникациях;</li>
            <li>Защита информации от внутренних ИТ-угроз;</li>
            <li>Криптографические методы и средства защиты информации;</li>
            <li>Обеспечение информационной безопасности;</li>
            <li>Защита информационных процессов в компьютерных системах;</li>
            <li>Антивирусная защита компьютерных систем.</li>
          </ul>
          <p class="mb-2">в рамках направления "Инфокоммуникационные системы и технологии" (11.04.02)</p>
          <p class="mb-2 font-weight-bold">Безопасность и программная защита инфокоммуникаций</p>
          <p class="mb-3">Основное содержание магистерской программы:</p>
          <ul class="ml-5"> 
            <li>Криптографические методы и средства программной защиты информации;</li>
            <li>Метода и средства обнаружения вторжений в инфокоммуникации;</li>
            <li>Теория и технологии стеганографии и стегоанализа;</li>
            <li>Защита и обработка конфиденциальных документов;</li>
            <li>Комплексная защита информации.</li>
          </ul>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container">&copy;&nbsp;Кафедра информационной безопасности 2018</div>
      </div>
  </body>
</html>

src/pages/educational-work/index.pug
doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Учебная работа кафедры"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Учебная работа кафедры
					h4.mt-3.mb-3.text-center.font-weight-bold Кафедра является выпускающей и готовит бакалавров и магистров.
					p.mb-2 Кафедра ведёт подготовку бакалавров по следующим направлениям:
					ul.ml-5
						li Информационная безопасность (10.03.01) – профиль "Комплексная защита объектов информатизации"
						li Инфокоммуникационные технологии и системы связи (11.03.02) – профиль "Программно-защищённые инфокоммуникации" 
					p.mt-4.mb-2 Кафедра ведёт подготовку магистров по следующим направлениям:
					p.mb-2 в рамках направления "Информатика и вычислительная техника" (09.04.01) 
					p.mb-2.font-weight-bold Программная защита информации
					p.mb-3 Основное содержание магистерской программы:
					ul.ml-5 
						li Программирование защищённых сетевых приложений;
						li Угрозы безопасности в Интернете;
						li Системы обнаружения вторжений в инфокоммуникациях;
						li Защита информации от внутренних ИТ-угроз;
						li Криптографические методы и средства защиты информации;
						li Обеспечение информационной безопасности;
						li Защита информационных процессов в компьютерных системах;
						li Антивирусная защита компьютерных систем.
					p.mb-2 в рамках направления "Инфокоммуникационные системы и технологии" (11.04.02)
					p.mb-2.font-weight-bold Безопасность и программная защита инфокоммуникаций
					p.mb-3 Основное содержание магистерской программы:
					ul.ml-5 
						li Криптографические методы и средства программной защиты информации;
						li Метода и средства обнаружения вторжений в инфокоммуникации;
						li Теория и технологии стеганографии и стегоанализа;
						li Защита и обработка конфиденциальных документов;
						li Комплексная защита информации.
					 

		+footer()
